button {
    margin-top: 5px;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}


.Post {
    margin: 10px;
}


.Blok {
    height: 20px;
    width: 300px;
    margin-left: 20px;
    border: 1px solid black;
}

#Blok2 {
    height: 20px;
    width: 200px;
    background-color: aquamarine;
}